.banner-principal__img
  img
    width: 420px
    animation: float 6s ease-in-out infinite

@keyframes float
  0%
    transform: translatey(0px)
  50%
    transform: translatey(-20px)
  100%
    transform: translatey(0px)
  
.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: #12263F

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white

.bloque-texto-b.color-acento-contenido:before
  background-color: #E7EAFE
  left: 0%

.bg1
  background-image: url("../assets/curso/tema1/bg1.png") !important
  background-size: cover
  margin-inline: -3.4rem
  padding: 50px
  background-repeat: no-repeat
  background-size: 100% 100%
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -2.5rem

.cm 
  color: #2700FF

.tarjeta--gris
  background-image: url("../assets/curso/tema1/bg2.png") !important
  background-size: cover
  background-size: 100% 100%

.colort1
  background-color: #FFFFFF
.colort2
  background-color: #F6F6F6
.coloras
  background-color: #E1DDFC
  border-radius: 15px
  margin-left: 2px

.tarjeta--azul
  background-image: url("../assets/curso/tema2/bg1.png") !important
  background-size: cover
  background-size: 100% 100%

.tarjeta.color-acento-contenido
  background-color: #E1DDFC

.slyder-a__bullets__item--active
  background-color: #8979F3!important

.slyder-a__bullets__item
  background-color: #C7C8FB